@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.3;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer-grid p {
  font-size: 1rem;
}

.cta-btn {
  background-color: hsl(224deg, 93%, 58%);
  border: none;
  color: white;
  padding: 0.75rem 4.5rem;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
.cta-btn:hover, .cta-btn:active {
  opacity: 50%;
  cursor: pointer;
}

.cta-form__btn {
  background-color: hsl(224deg, 93%, 58%);
  border: none;
  color: white;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 3rem;
  display: block;
}
.cta-form__btn:hover, .cta-form__btn:active {
  opacity: 50%;
  cursor: pointer;
}

.main-link {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid hsl(170deg, 45%, 43%);
  padding-bottom: 0.2rem;
  color: hsl(170deg, 45%, 43%);
  font-size: 1.2rem;
  width: 12rem;
  margin-bottom: 1.5rem;
}
.main-link:hover, .main-link:active {
  filter: brightness(150%);
}

.hero-input {
  width: 19rem;
  height: 1rem;
  padding: 0.6rem;
  margin-right: 1rem;
}
.hero-input::-moz-placeholder {
  opacity: 50%;
}
.hero-input:-ms-input-placeholder {
  opacity: 50%;
}
.hero-input::placeholder {
  opacity: 50%;
}
.hero-input:focus {
  outline: none;
}

.cta-form {
  width: 30%;
  position: relative;
  right: 8rem;
}
.cta-form__input {
  margin: 0rem 0rem 1rem 0rem;
  border-radius: 3px;
  border: none;
  padding: 1rem 1.5rem;
  width: 30rem;
}
.cta-form__input:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .cta-form__input {
    width: 20rem;
  }
}
@media only screen and (max-width: 768px) {
  .cta-form {
    width: 50%;
    margin: auto;
    position: static;
  }
  .cta-form__input {
    width: 82%;
  }
  .cta-form__btn {
    width: 100%;
  }
}
@media only screen and (max-width: 610px) {
  .cta-form__input {
    padding: 0.75rem 1.25rem;
  }
  .cta-form__btn {
    width: 100%;
    padding: 0.75rem 2.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .cta-form {
    width: 75%;
  }
  .cta-form__btn {
    width: 100%;
  }
}
.testimonial {
  box-shadow: 0 0 3px hsl(214deg, 16%, 92%);
  background-color: white;
  border-radius: 3px;
  padding: 1rem 2rem;
  width: 42%;
}
.testimonial__text {
  font-size: 0.8rem;
  font-weight: 400;
}
.testimonial__signature {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2.5rem 7rem;
}
.testimonial__img {
  grid-row: span 2;
  border-radius: 50%;
  height: 2rem;
}
.testimonial__name {
  grid-row: 1;
  grid-column: 2;
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}
.testimonial__job-title {
  grid-row: 2;
  grid-column: 2;
  font-size: 0.6rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
  .testimonial {
    margin: 1.5rem auto;
    text-align: left;
  }
}
@media only screen and (max-width: 610px) {
  .testimonial {
    width: 18rem;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial {
    width: 15rem;
  }
}
@media only screen and (max-width: 360px) {
  .testimonial {
    width: 12rem;
  }
}
footer {
  padding: 7.5rem 5rem;
  background-color: hsl(243deg, 87%, 12%);
  color: hsl(240deg, 75%, 98%);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  align-items: center;
  justify-items: flex-start;
}
.footer-grid__contact {
  justify-self: flex-start;
}
.footer-grid__phone-icon, .footer-grid__mail-icon {
  margin-right: 1.5rem;
}

.footer-links {
  display: grid;
  row-gap: 2rem;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  grid-template-columns: repeat(2, 6fr);
  grid-template-rows: repeat(4, 3fr);
}

.footer-link {
  font-family: "Open Sans", sans-serif;
}
.footer-link:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}
.footer-link:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
.footer-link:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}
.footer-link:nth-of-type(4) {
  grid-column: 1;
  grid-row: 4;
}
.footer-link:hover {
  color: hsl(238deg, 22%, 44%);
  cursor: pointer;
}

.footer-logo {
  filter: brightness(0) invert(1);
}

.footer-social {
  align-self: flex-start;
  justify-self: center;
  display: flex;
  gap: 1rem;
}
.footer-social__link {
  color: white;
}
.footer-social__link:hover {
  color: hsl(238deg, 22%, 44%);
}

@media only screen and (max-width: 1024px) {
  .footer-links {
    row-gap: 1.5rem;
    -moz-column-gap: 7.5rem;
         column-gap: 7.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer-grid {
    font-size: 1rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .footer-grid__phone-icon, .footer-grid__mail-icon {
    margin-right: 0.5rem;
  }
  .footer-links {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 1rem;
  }
  .footer-social {
    justify-self: flex-start;
  }
}
@media only screen and (max-width: 610px) {
  footer {
    padding: 3.5rem 3rem;
  }
  .footer-logo {
    margin-bottom: 2rem;
  }
  .footer-grid {
    grid-template-columns: 12fr;
    row-gap: 1rem;
  }
  .footer-nav {
    margin-bottom: 1rem;
  }
  .footer-links {
    grid-template-columns: 12fr;
  }
  .footer-social {
    justify-self: center;
  }
}
@media only screen and (max-width: 480px) {
  .footer-logo {
    height: 3rem;
  }
  .footer-nav {
    margin-bottom: 1rem;
  }
  .footer-links {
    grid-template-columns: 12fr;
  }
  .footer-social {
    justify-self: center;
  }
}
@media only screen and (max-width: 360px) {
  .footer-logo {
    height: 2.5rem;
  }
  .footer-grid {
    font-size: 0.8rem;
  }
}
header {
  margin-bottom: 7.5rem;
}

.container {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
}

.cta-section {
  display: flex;
  padding: 2rem 5rem;
}

p {
  margin-bottom: 1rem;
}

.hero-content, .main-content {
  margin-right: 4rem;
}

.hero-illustration, .main-illustration {
  width: 45%;
}

.header-mail-validation {
  position: static;
  display: none;
  color: red;
}

.cta-mail-validation {
  color: red;
  position: relative;
  bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .hero-input {
    width: 10rem;
    margin-right: 0rem;
  }
  .cta-btn {
    padding: 0.75rem 3.5rem;
  }
}
@media only screen and (max-width: 768px) {
  header {
    margin-bottom: 0rem;
  }
  .container {
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .hero-illustration {
    order: 1;
    width: 70%;
    margin-bottom: 2.5rem;
  }
  .hero-content {
    order: 2;
    text-align: center;
    margin-right: 0rem;
  }
  .hero-heading {
    font-size: 2rem;
  }
  .hero-input {
    width: 30rem;
    margin-bottom: 1rem;
  }
  .header-mail-validation {
    position: relative;
    bottom: 3.5rem;
    left: -10.5rem;
  }
  .cta-btn {
    width: 31.5rem;
  }
}
@media only screen and (max-width: 610px) {
  .hero-illustration {
    width: 100%;
  }
  .hero-heading {
    font-size: 1.8rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .hero-input {
    width: 20rem;
  }
  .cta-btn {
    width: 21.5rem;
  }
  .header-mail-validation {
    bottom: 14.7rem;
    left: 3.2rem;
  }
}
@media only screen and (max-width: 610px) {
  header {
    padding: 0rem 2rem;
  }
  .hero-heading {
    font-size: 1.5rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .hero-input {
    width: 19rem;
  }
  .cta-btn {
    width: 20.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .header-mail-validation {
    position: relative;
    top: -3.5rem;
    left: -5rem;
  }
}
@media only screen and (max-width: 360px) {
  header {
    padding: 0rem 1rem;
  }
  .hero-heading {
    font-size: 1rem;
  }
  .hero-text {
    font-size: 0.8rem;
  }
  .hero-input {
    width: 15rem;
  }
  .cta-btn {
    width: 16.5rem;
  }
}
body {
  padding-top: 2rem;
}

main {
  background-image: url("../../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: 240rem 45rem;
  background-position: 50% 100%;
  padding: 10rem 0rem 5rem 0rem;
}

.main-text {
  font-size: 1rem;
}

.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(238deg, 22%, 44%);
  color: hsl(240deg, 75%, 98%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cta-section__description {
  width: 40%;
}
.cta-section__heading {
  font-size: 2rem;
}
.cta-section__text {
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  main {
    background-size: 240rem 50rem;
  }
}
@media only screen and (max-width: 768px) {
  main {
    text-align: center;
    background-size: 180rem 65rem;
    background-position: 50% 100%;
  }
  .main-content {
    margin-right: 0rem;
    order: 2;
  }
  .main-text {
    text-align: left;
  }
  .main-link {
    display: inline-block;
    margin-bottom: 0rem;
  }
  .main-illustration {
    order: 1;
    width: 70%;
    margin-bottom: 5rem;
  }
  .cta-section {
    text-align: center;
    flex-direction: column;
  }
  .cta-section__description {
    width: 100%;
  }
}
@media only screen and (max-width: 610px) {
  .cta-section {
    padding: 2rem;
  }
  .cta-section__heading {
    font-size: 1.75rem;
  }
  .cta-section__text {
    font-size: 0.9rem;
  }
  main {
    padding: 5rem 0rem 1.5rem 0rem;
    background-size: 130rem 62rem;
    background-position: 50% 100%;
  }
  .main-illustration {
    width: 100%;
  }
  .main-heading {
    font-size: 1.75rem;
  }
  .main-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .main-link {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  main {
    background-size: 130rem 56rem;
    background-position: 50% 100%;
  }
  .main-heading {
    font-size: 1.1rem;
  }
  .main-text {
    font-size: 0.8rem;
  }
  .main-link {
    font-size: 0.9rem;
    width: 9rem;
  }
  .cta-section {
    padding: 3rem;
  }
  .cta-section__heading {
    font-size: 1.5rem;
  }
  .cta-section__text {
    font-size: 0.8rem;
  }
  .cta-form__input {
    padding: 0.5rem 1rem;
  }
  .cta-form__btn {
    padding: 0.5rem 2rem;
  }
}
@media only screen and (max-width: 360px) {
  main {
    background-size: 130rem 52rem;
    padding: 5rem 1rem 1.5rem 1rem;
  }
  .cta-section {
    padding: 3rem;
  }
  .cta-section__heading {
    font-size: 1.5rem;
  }
  .cta-section__text {
    font-size: 0.8rem;
  }
}
.nav {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li {
  display: inline-block;
}
.nav__link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: hsl(238deg, 22%, 44%);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0rem 1rem;
}
.nav__link:active, .nav__link:hover {
  color: hsl(224deg, 93%, 58%);
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 1rem 2rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 610px) {
  .nav {
    margin-bottom: 2.5rem;
  }
  .logo {
    height: 2rem;
  }
  .nav__link {
    font-size: 0.8rem;
    margin: 0rem 0.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    height: 1.5rem;
  }
  .nav__link {
    font-size: 0.7rem;
    margin: 0rem 0.4rem;
  }
}/*# sourceMappingURL=main.css.map */