footer {
    padding: 7.5rem 5rem;
    background-color: $primary-darkblue;
    color: $neutral-blue;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    align-items: center;
    justify-items: flex-start;

    &__contact {
        justify-self: flex-start;
    }

    &__phone-icon, &__mail-icon {
        margin-right: 1.5rem;
    }
}

.footer-links {
    display: grid;
    row-gap: 2rem;
    column-gap: 10rem;
    grid-template-columns: repeat(2, 6fr);
    grid-template-rows: repeat(4, 3fr);
}

.footer-link{
    font-family: $font-body;
    &:nth-of-type(1){
        grid-column: 1;
        grid-row: 1;
    }
    &:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }
    &:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
    }
    &:nth-of-type(4){
        grid-column: 1;
        grid-row: 4;
    }

    &:hover {
        color: $primary-desatblue;
        cursor: pointer;
    }
}

.footer-logo {
    filter:  brightness(0) invert(1);
}

.footer-social {
    align-self: flex-start;
    justify-self: center;
    display: flex;
    gap: 1rem;

    &__link {
        color: white;
    }

    &__link:hover{
        color: $primary-desatblue;


    }
}


@include respond(laptop) {
    .footer-links {
        row-gap: 1.5rem;
        column-gap: 7.5rem;
    }
}

@include respond(tablet) {
    .footer-grid {
        font-size: 1rem;
        column-gap: 3rem;

        &__phone-icon, &__mail-icon {
            margin-right: .5rem;
        }
    }

    .footer-links {
        column-gap: 3rem;
        row-gap: 1rem;
    }

    .footer-social {
        justify-self: flex-start;
    }
}

@include respond(mobile-large) {

    footer {
        padding: 3.5rem 3rem;
    }
    .footer-logo {
        margin-bottom: 2rem;
    }

    .footer-grid {
        grid-template-columns: 12fr;
        row-gap: 1rem;
    }

    .footer-nav {
        margin-bottom: 1rem;
    }

    .footer-links {
        grid-template-columns: 12fr;
    }

    .footer-social {
        justify-self: center;
    }

}

@include respond(mobile-medium) {

    .footer-logo {
        height: 3rem;
    }


    .footer-nav {
        margin-bottom: 1rem;
    }

    .footer-links {
        grid-template-columns: 12fr;
    }

    .footer-social {
        justify-self: center;
    }

}

@include respond(mobile-small) {

    .footer-logo {
        height: 2.5rem;
    }

    .footer-grid {
        font-size: .8rem;
    }

}
