
.nav {
    padding: $general-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        font-family: $font-cta;
        font-size: 1.2rem;
        color: $primary-desatblue;
        font-weight: $font-cta-bold;
        margin: 0rem 1.5rem;

        &:active, &:hover {
            color: $btn-blue;
        }
    }
}
