
.nav {
    padding: $general-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        font-family: $font-cta;
        color: $primary-desatblue;
        font-weight: $font-cta-bold;
        margin: 0rem 1rem;

        &:active, &:hover {
            color: $btn-blue;
        }
    }
}

@include respond(tablet){
    .nav {
        padding: 1rem 2rem;
        margin-bottom: 5rem;
    }
}

@include respond(mobile-large) {
    .nav{
        margin-bottom: 2.5rem;
    }

    .logo {
        height: 2rem;
    }

    .nav__link {
        font-size: .8rem;
        margin: 0rem .5rem;
    }
}

@include respond(mobile-medium) {

    .logo {
        height: 1.5rem;
    }

    .nav__link {
        font-size: .7rem;
        margin: 0rem .4rem;
    }
}
