

.cta-btn {
    background-color: $btn-blue;
    border: none;
    color: white;
    padding: .75rem 4.5rem;
    border-radius: 3px;
    font-family: $font-cta;
    font-weight: $font-cta-bold;
    font-size: .8rem;

    &:hover, &:active {
        opacity: 50%;
        cursor: pointer;
    }
}

.cta-form__btn {
    background-color: $btn-blue;
    border: none;
    color: white;
    border-radius: 3px;
    font-family: $font-cta;
    font-weight: $font-cta-bold;
    padding: 1rem 3rem;
    display: block;

    &:hover, &:active {
        opacity: 50%;
        cursor: pointer;
    }
}

.main-link {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid $link-cyan;
    padding-bottom: .2rem;
    color: $link-cyan;
    font-size: 1.2rem;
    width: 12rem;
    margin-bottom: 1.5rem;

    &:hover, &:active {
        filter: brightness(150%);
    }
}