$primary-darkblue: hsl(243, 87%, 12%);
$primary-desatblue: hsl(238, 22%, 44%);

$btn-blue: hsl(224, 93%, 58%);
$link-cyan: hsl(170, 45%, 43%);

$neutral-blue: hsl(240, 75%, 98%);
$neutral-lightgray: hsl(0, 0%, 75%);

$general-padding: 2rem 5rem;